<div class="card-group" (mouseover)="changeText=true" (mouseout)="changeText=false">
  <div class="card">
    <img class="card-img-top" [src]="productItem.imageUrl" alt="Card image cap"/>
    <div class="card-body">
      <p class="card-text"> 
        <strong >{{ productItem.price | currency:'INR' }}</strong>
      <i *ngIf="addedToWishlist" class="fas fa-heart float-right" (click)="handleRemoveFromWishlist()"></i>
      <i *ngIf="!addedToWishlist" class="far fa-heart float-right" (click)="handleAddToWishlist()"></i>
    </p>
     <p class="card-text">{{ productItem.description | slice: 0:80 }}...</p>
     <div class="btn-group">
        <button type="button" class="btn btn-sm btn-primary product-btn" (click)="handleAddToCart()">Add to
          Cart</button>
      </div>
    </div>
    </div>
  </div>